@page "/about"

<h3>Vectorized Playing Cards 3.2</h3>

<p>https://totalnonsense.com/open-source-vector-playing-cards/</p>
<p>Copyright 2011,2024 – Chris Aguilar – conjurenation@gmail.com</p>
<p>Licensed under: LGPL 3.0 – https://www.gnu.org/licenses/lgpl-3.0.html</p>
