@page "/cardstest"
@using BullcrapClassLib
@rendermode InteractiveWebAssembly

<PageTitle>Card Render Test</PageTitle>

<h3>CardHandTest</h3>

<p>Current Player: @players[playerNum].Name</p>

<button @onclick="ClickPrevious">Previous</button>
<button @onclick="ClickNext">Next</button>

<br />

@foreach (var card in players[playerNum].Hand)
{
    <img src="@card.GetImage()" alt="card" />
}


@code {
    Deck deck = new Deck();
    List<Player> players = new();
    int playerNum = 0;

    protected override void OnInitialized()
    {
        for (int i = 0; i < 6; i++)
        {
            players.Add(new Player("Player" + i));
        }

        //deck.Shuffle();
        deck.Deal(players);
    }

    private void ClickPrevious()
    {
        playerNum--;
        if (playerNum < 0) playerNum = players.Count - 1;
        //StateHasChanged();
    }

    private void ClickNext()
    {
        playerNum++;
        if (playerNum == players.Count) playerNum = 0;
        //StateHasChanged();
    }
}
